// Slider

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}

// Bubbling effect

.visible {
  &-1 {
    animation: visibility 0.5s forwards;
  }
  &-2 {
    animation: visibility 1s forwards;
  }
  &-3 {
    animation: visibility 1.5s forwards;
  }
  &-4 {
    animation: visibility 2s forwards;
  }
}

@keyframes visibility {
  50% {
    opacity: 0;
    transform: translate(0, 10%);
  }
  70% {
    opacity: 0.5;
    transform: translate(0, -10%);
  }
  100% {
    opacity: 1;
  }
}
