body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
}

h4 {
  font-size: 1.3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-family: Georgia;
  font-size: 1rem;
  line-height: 28px;
}

a {
  color: $coral-color;
  font-size: 16px;
  text-decoration: none;

  &:hover {
    color: $darker-coral-color;
  }
}
