.header {
  grid-area: h;
  display: flex;
  flex-direction: row;
  background-color: $dark-blue-color;

  &__photo {
    min-width: 50%;
    min-height: 300px;
    background: url('../assets/me.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: calc(50% - 40px);
    min-height: 500px;
    padding: 0 20px;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
