body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0; }

h4 {
  font-size: 1.3rem;
  margin: 0; }

h2 {
  font-size: 2rem;
  margin: 0; }

p {
  font-family: Georgia;
  font-size: 1rem;
  line-height: 28px; }

a {
  color: #dd3e18;
  font-size: 16px;
  text-decoration: none; }
  a:hover {
    color: #982b11; }

.container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(30px, 300px) auto minmax(30px, 300px);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 'h h h' 'c c c' 'f f f'; }

.content {
  grid-area: c;
  padding: 0 200px; }

@media screen and (max-width: 768px) {
  .content {
    padding: 0 30px; } }
.header {
  grid-area: h;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 100px 200px auto;
  background-color: #082841; }
  .header__photo {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    object-fit: cover; }
  .header__intro {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    padding: 0 100px 0 50px;
    color: #fff; }
    .header__intro__position, .header__intro__name {
      padding-top: 20px; }
  .header__description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: #fff;
    padding: 100px 100px 0 50px; }

@media screen and (max-width: 768px) {
  .header {
    padding: 50px 0 100px; }
    .header__photo {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      justify-self: center;
      min-height: 250px;
      max-width: 250px;
      border-radius: 50%; }
    .header__intro, .header__description {
      text-align: center;
      padding: 0 50px; }
    .header__intro {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      padding-bottom: 50px; }
      .header__intro__position, .header__intro__name {
        padding-top: 0; }
    .header__description {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
      padding-top: 50px; } }
.expectations {
  padding: 50px 0; }
  .expectations__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding-top: 20px; }
    .expectations__grid__item {
      padding: 5px 10px;
      background: linear-gradient(to bottom right, #e6f0f0, #e9f0e6); }
    .expectations__grid__item:nth-child(1) {
      grid-column: 1 / 9;
      grid-row: 1 / 2; }
    .expectations__grid__item:nth-child(2) {
      grid-column: 9 / 13;
      grid-row: 1 / 2; }
    .expectations__grid__item:nth-child(3) {
      grid-column: 1 / 6;
      grid-row: 2 /3; }
    .expectations__grid__item:nth-child(4) {
      grid-column: 6 / 13;
      grid-row: 2 /3; }

.works {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4, auto); }
  .works__item {
    grid-column: 1 / -1;
    grid-row: auto;
    display: flex;
    flex-direction: row; }
    .works__item__description {
      flex: 1;
      padding: 0; }
    .works__item__image {
      object-fit: contain;
      max-height: 300px;
      max-width: 250px;
      margin-right: 20px; }
  .works__item:nth-child(odd) {
    flex-direction: row-reverse; }

.footer {
  grid-area: f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  background: linear-gradient(to bottom right, #e6f0f0, #e9f0e6); }
  .footer__content {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto; }
    .footer__content__links {
      list-style: none;
      padding: 0; }
      .footer__content__links__link {
        padding: 5px 0; }
      .footer__content__links li > i {
        max-width: 18px;
        max-height: auto;
        opacity: 0.2; }
      .footer__content__links li a {
        margin-left: 10px; }

.form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-left: 30px; }
  .form__submit, .form__input, .form__textarea {
    min-width: 350px;
    border: none;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif; }
  .form__input, .form__textarea {
    margin-bottom: 15px;
    padding: 15px 10px; }
    .form__input:focus, .form__textarea:focus {
      outline-color: #dd3e18; }
  .form__submit {
    padding: 10px 0;
    background-color: #dd3e18;
    color: #fff;
    font-weight: 600;
    cursor: pointer; }
    .form__submit:hover {
      background-color: #982b11; }
    .form__submit:focus {
      outline-color: #dd3e18; }
  .form__file {
    margin-bottom: 15px; }
    .form__file__label {
      color: #dd3e18;
      font-weight: 600;
      cursor: pointer; }
      .form__file__label:hover {
        color: #982b11; }
    .form__file__input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }

@media screen and (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    margin: 15px 20px 0; }

  .form {
    margin-top: 15px;
    margin-left: 0; }
    .form__submit, .form__input, .form__textarea {
      min-width: 0; } }

/*# sourceMappingURL=styles.css.map */
