.map {
  margin: 0 auto;
  width: 600px;
  height: 400px;
}

@media screen and (max-width: 375px) {
  .map {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .map {
    margin: 0 auto;
  }
}
